<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./card.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material Icons:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="card">
      <div class="card1">
        <div class="card-child"></div>
        <b class="task-name">TASK NAME</b>
        <div class="card-item"></div>
        <div class="task-details-sub-container">
          <p class="task-details">Task Details</p>
          <p class="task-details">&nbsp;</p>
          <ul class="sub-tasks">
            <li>Sub Tasks</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
