<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material Icons:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="employer-homepage">
      <img
        class="technology-6-icon"
        alt=""
        src="./static/css/technology-6@2x.png"
      />

      <div class="how-we-work-parent">
        <div class="how-we-work">How We Work</div>
        <div class="pricing">
          <p class="reviews">Reviews</p>
        </div>
        <div class="download">
          <p class="reviews">Privacy</p>
        </div>
        <div class="about-us">About Us</div>
      </div>
      <div class="connect-merge-work-parent">
        <b class="connect-merge-work-container">
          <p class="reviews">Connect.</p>
          <p class="reviews">Merge. Work</p>
        </b>
        <a class="sign-up-button" href="./registration.html" id="signUpButton">
          <div class="post-job">REGISTER</div>
        </a>
        <a class="sign-in-button" href="./date_selection" id="signInButton">
          <div class="post-job">SELECT DATE</div>
        </a>
        <a class="calendar-button" href="./dashboard1.html" id="calendarButton">
          <div class="post-job">CALENDAR</div>
        </a>
      </div>
      <div class="link-parent">
        <img class="link-icon" alt="" src="./static/css/001link.svg" />

        <img class="merge-2-icon" alt="" src="./static/css/005merge2.svg" />

        <img class="portfolio-icon" alt="" src="./static/css/006portfolio.svg" />

        <div class="connect1">
          <b class="connectmergework">Connect</b>
          <div class="staffmerges-mission">
            <p class="reviews">
              ShiftSync’s mission is to CONNECT Employers together in an easy
              way to help them become more productive and efficient
            </p>
          </div>
        </div>
        <div class="merge">
          <b class="connectmergework">Merge</b>
          <div class="staffmerges-mission">
            our interactive calendar makes it very easy to log in your
            availability and make work arrangements with your team.
          </div>
        </div>
        <div class="work-parent">
          <b class="work">Work</b>
          <div class="after-employers-and">
            Dont let the Hybrid work mode keep you from getting things done.
            because meetings are now easier than ever!
          </div>
        </div>
      </div>
      <div class="download1">
        <div class="rectangle-parent">
          <div class="rectangle"></div>
          <img
            class="pixel-4-clay-white"
            alt=""
            src="./static/css/pixel-4-clay-white.svg"
          />

          <img class="silver-icon" alt="" src="./static/css/silver.svg" />

          <div class="connectmergework-parent">
            <b class="connectmergework">Connect.Merge.Work </b>
            <div class="rectangle1"></div>
          </div>
          <div class="shape-parent">
            <img class="shape-icon" alt="" src="./static/css/shape.svg" />

            <b class="connectmergework">App Store</b>
          </div>
          <div class="shape-group">
            <img class="shape-icon1" alt="" src="./static/css/shape1.svg" />

            <b class="connectmergework">Play Store</b>
          </div>
          <div class="download-our-app">Download Our App now!</div>
          <div class="we-are-available">We are available in all Platforms.</div>
          <b class="shiftsync">SHIFTSYNC</b>
          <b class="shiftsync1">SHIFTSYNC</b>
        </div>
        <img
          class="rectangle-copy-8"
          alt=""
          src="./static/css/rectangle-copy-8.svg"
        />

        <img
          class="macbook-pro16in-01clay-white"
          alt=""
          src="./static/css/macbook-pro16in-01clay-white@2x.png"
        />

        <img
          class="rectangle-copy-9"
          alt=""
          src="./static/css/rectangle-copy-9.svg"
        />
      </div>
      <div class="footer">
        <img class="footer-child" alt="" src="./static/css/line-2.svg" />

        <img class="footer-item" alt="" src="./static/css/line-2.svg" />

        <div class="company-parent">
          <b class="company">COMPANY</b>
          <div class="about-us-terms-container">
            <p class="reviews">About Us</p>
            <p class="reviews">Terms</p>
            <p class="reviews">Privacy</p>
            <p class="reviews">Accessibility</p>
            <p class="reviews">Disclaimer</p>
          </div>
        </div>
        <div class="resources-parent">
          <b class="connectmergework">Resources</b>
          <div class="customer-support-com-container">
            <p class="reviews">Customer Support</p>
            <p class="reviews">Company Reviews</p>
            <p class="reviews">Companies We Serve</p>
            <p class="reviews">Testimonials</p>
            <p class="reviews">Share ShiftSync</p>
          </div>
        </div>
        <div class="staffmerge-i">© 2023 ShiftSync, Inc.</div>
        <img class="footer-inner" alt="" src="./static/css/group-11.svg" />
      </div>
      <img class="video-icon" alt="" src="./static/css/video@2x.png" />

      <img class="path-2-icon" alt="" src="./static/css/path-2.svg" />

      <img class="play-icon" alt="" src="./static/css/play.svg" />

      <div class="shiftsync2" id="sHIFTSYNCContainer">
        <b class="shiftsync3">SHIFTSYNC</b>
      </div>
    </div>

    <script>
      var signUpButton = document.getElementById("signUpButton");
      if (signUpButton) {
        signUpButton.addEventListener("click", function (e) {
          window.location.href = "./sign-up.html";
        });
      }
      
      var signInButton = document.getElementById("signInButton");
      if (signInButton) {
        signInButton.addEventListener("click", function (e) {
          window.location.href = "./sign-in.html";
        });
      }
      
      var sHIFTSYNCContainer = document.getElementById("sHIFTSYNCContainer");
      if (sHIFTSYNCContainer) {
        sHIFTSYNCContainer.addEventListener("click", function (e) {
          window.location.href = "./employer-homepage.html";
        });
      }
      </script>
  </body>
</html>