<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./post-availability.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Actor:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material Icons:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="post-availability">
      <div class="left-back"></div>
      <b class="post-a-job">Post Your Availability</b>
      <a class="next-wrapper" href="./current-calendar.html">
        <button class="next">Next</button>
      </a>
      <div class="top">
        <img class="top-child" alt="" src="./static/css/line-21.svg" />

        <img
          class="staffmerge-final-v2-01"
          alt=""
          src="./public/staffmerge-final-v201@2x.png"
        />

        <div class="oval-parent">
          <div class="oval"></div>
          <div class="john-smith">John Smith</div>
          <div class="keyboard-arrow-down-material"></div>
        </div>
      </div>
      <div class="left">
        <img
          class="removebg-preview-icon"
          alt=""
          src="./public/1718removebgpreview@2x.png"
        />

        <b class="connect-merge-work">Connect. Merge. Work</b>
        <div class="shiftsync6" id="sHIFTSYNCContainer">
          <a class="shiftsync7" href="employer-homepage.html">SHIFTSYNC</a>
        </div>
      </div>
      <div class="group-copy">
        <div class="rectangle6"></div>
        <div class="job-title">Job Title</div>
        <b class="looking-for-a">Looking for a creative designer</b>
      </div>
      <div class="what-type-of-job-is-parent">
        <div class="what-type-of">Pick your day:</div>
        <div class="group">
          <input class="oval-copy" autofocus="{true}" type="radio" accept />

          <div class="what-type-of">Monday</div>
        </div>
        <div class="oval-copy-2-parent">
          <input class="oval-copy-2" autofocus="{true}" type="radio" />

          <div class="what-type-of">Tuesday</div>
        </div>
        <div class="oval-copy-3-parent">
          <input class="oval-copy" autofocus="{true}" type="radio" />

          <div class="temporary">Wednesday</div>
        </div>
        <div class="oval-copy-4-parent">
          <input class="oval-copy-4" autofocus="{true}" type="radio" />

          <div class="what-type-of">Thursday</div>
        </div>
        <div class="oval-copy-2-parent">
          <input class="oval-copy-5" autofocus="{true}" type="radio" />

          <div class="what-type-of">Friday</div>
        </div>
      </div>
      <div class="what-is-the">What is the Pay for this Job?</div>
      <div class="group-div">
        <div class="rectangle7"></div>
        <div class="from">From $</div>
        <b class="b5">16 </b>
        <div class="keyboard-arrow-down-material1"></div>
      </div>
      <div class="rectangle-parent2">
        <div class="rectangle7"></div>
        <div class="from">To $</div>
        <b class="b5">20</b>
        <div class="keyboard-arrow-down-material2"></div>
      </div>
      <div class="rectangle-parent3">
        <div class="rectangle6"></div>
        <div class="job-title">Contract Type</div>
        <b class="per-hour">Per Hour</b>
        <div class="keyboard-arrow-down-material3"></div>
      </div>
      <div class="rectangle-parent4">
        <div class="rectangle6"></div>
        <div class="job-title">Experience Required?</div>
        <b class="per-hour">N/A</b>
        <div class="keyboard-arrow-down-material3"></div>
      </div>
      <div class="group-parent">
        <div class="group1">
          <div class="oval-copy1"></div>
          <b class="what-type-of">Tips</b>
        </div>
        <div class="oval-copy-2-group">
          <div class="oval-copy1"></div>
          <div class="what-type-of">Commission</div>
        </div>
        <div class="oval-copy-3-group">
          <div class="oval-copy1"></div>
          <div class="what-type-of">Bonuses</div>
        </div>
        <div class="oval-copy-4-group">
          <div class="oval-copy1"></div>
          <div class="what-type-of">Store Discounts</div>
        </div>
        <div class="oval-copy-5-group">
          <div class="oval-copy1"></div>
          <div class="what-type-of">Other Forms</div>
        </div>
        <div class="are-there-any-container">
          <p class="are-there-any">
            Are there Any Additional Form of Compensation
          </p>
          <p class="are-there-any">Offered?</p>
        </div>
        <img class="shape-icon2" alt="" src="./public/shape2.svg" />
      </div>
      <div class="na-1-years-2-years-parent">
        <b class="na-1-years-container">
          <p class="are-there-any">N/A</p>
          <p class="are-there-any">1 Years</p>
          <p class="are-there-any">2 Years</p>
          <p class="are-there-any">3 Years</p>
          <p class="are-there-any">4 Years</p>
          <p class="are-there-any">5 Years</p>
          <p class="are-there-any">6 Years</p>
          <p class="are-there-any">7 Years</p>
          <p class="are-there-any">8 Years</p>
          <p class="are-there-any">9 Years</p>
          <p class="are-there-any">10 Years</p>
          <p class="are-there-any">More then 10 Years</p>
        </b>
        <div class="experience-required1">Experience Required</div>
        <div class="keyboard-arrow-down-material5"></div>
      </div>
      <div class="what-type-of-job-is-group">
        <div class="what-type-of">Pick your time</div>
        <input class="group2" type="text" />

        <input class="frame-child" type="text" />

        <input class="frame-item" type="text" />

        <input class="frame-inner" type="text" />

        <input class="frame-inner" type="text" />
      </div>
    </div>

    <script>
      var sHIFTSYNCContainer = document.getElementById("sHIFTSYNCContainer");
      if (sHIFTSYNCContainer) {
        sHIFTSYNCContainer.addEventListener("click", function (e) {
          window.location.href = "./index.html";
        });
      }
      </script>
  </body>
</html>
